body {
  background-color: black;
  color: white;
  position: relative;  /* This makes the position of the child elements relative to the body */
  margin: 0; /* This is to ensure the body takes the full width and height */
  height: 100vh; /* This is to ensure the body takes the full viewport height */
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #000000 #000000;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 14px;
  }

  *::-webkit-scrollbar-track {
    background: #000000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

  * {
    cursor: url('https://i.imgur.com/6wmyrkK.gif'),auto;
  }

@keyframes spin {
  from {
    transform: translateX(-50%) rotate3d(1, 1, 1, 0deg);
  }
  to {
    transform: translateX(-50%) rotate3d(1, 1, 1, 360deg);
  }
}

#jasongodfreyicon {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 100px;
  animation: spin 4s linear infinite;
  transition: 0.3s all; /* this will animate the color change */
}

#jasongodfreyicon:hover {
  filter: invert(1); /* this will change the color to the opposite on hover, i.e., white becomes black and vice versa */
}


.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* This will create a responsive grid that adjusts the number of columns based on the viewport size */
  grid-gap: 10px; /* This sets the gap between grid items */
  padding: 20px; /* This sets the padding around the whole grid */
  margin-top: 150px; /* You may need to adjust this to position the grid below your icon */
}

.portfolio-grid img {
  width: 100%; /* This makes the images fill their grid cell */
  height: auto;
}

/* This media query changes the grid to a single column on screens smaller than 600px */
@media (max-width: 600px) {
  .portfolio-grid {
    grid-template-columns: 1fr;
  }
}