body {
  background-color: black;
  color: white;
  position: relative;
  margin: 0;
  height: 100vh;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #000000 #000000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

* {
  cursor: url('https://i.imgur.com/6wmyrkK.gif'), auto;
}

@keyframes spin {
  from {
    transform: translateX(-50%) rotate3d(1, 1, 1, 0deg);
  }
  to {
    transform: translateX(-50%) rotate3d(1, 1, 1, 360deg);
  }
}

#jasongodfreyicon {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  animation: spin 4s linear infinite;
  transition: 0.3s all;
}

#jasongodfreyicon:hover {
  filter: invert(1);
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 20px;
  margin-top: 150px;
}

.portfolio-grid img {
  width: 100%;
  height: auto;
  position: relative;
}

.portfolio-grid img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0.4) 70%
  );
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
}

.portfolio-grid img:hover::before {
  opacity: 1;
}

/* This media query changes the grid to a single column on screens smaller than 600px */
@media (max-width: 600px) {
  .portfolio-grid {
    grid-template-columns: 1fr;
  }
}
